<div class="ui modal" id="login-modal">
	<i class="close icon"></i>
	<div class="header">
		Login	
	</div>
	<div class="content">
		<form class="ui form" id="login-form">
			<div class="field">
				<label>Email</label>
				<input type="text" name="email" placeholder="mako@hogwild.com">
			</div>
			<div class="field">
				<label>Password</label>
				<input type="password" name="password" placeholder="Password">
			</div>
			<div class="field">
				<div class="ui checkbox">
					<input type="checkbox" tabindex="0" class="hidden">
					<label>Remember Me</label>
				</div>
			</div>
		</form>
	</div>
	<div class="actions">
		<div class="ui cancel button">Cancel</div>
		<button class="ui button" type="submit" form="login-form">Login</button>
	</div>
</div>
